{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

{%set page = "edit" %}


<div class="container">
	<div class="masthead">
		{% block navigation %}
      	{% endblock %}
    </div>
    {% block content %}
    <br>
    <br>
    <h5>You are in the process of editing {{pup.name}}'s information.</h5>
    <br>
    <form name='edit' method='post' action= "{{url_for('pupsEdit', pup_id = pup.id)}} " id = "edit"  enctype="multipart/form-data">
    	<div class="form-group">
    		<label for="name">Pup Name: {{pup.name}}</label>
    		<input type="text" class="form-control" id="name" name="name" minlength ="2" placeholder="Edit Name">
    	</div>
    	<div class="form-group">
    		<label for="gender" >Pup Gender:</label><br>
    		<select name='gender' id="gender" >
    			<option value='{{pup.gender}}' name="default" id="gender">{{pup.gender.title()}}</option>
    			{% if pup.gender == 'male'%}
    			<option value='female' name="gender" id = "gender" >Female</option>
    			{% else %}
    			<option value='male' name="gender" id = "gender" >Male</option>
    			{% endif %}
			</select>
  		</div>
    	<br>
  
  <div class="form-group">
  	<label for='dateOfBirth'>Date of Birth</label><br>
  	<input type='date'  name='dateOfBirth' id='dateOfBirth' value={{ pup.dateOfBirth }} />  					
  </div>


  <div class="form-group">
  	<label for='weight'>Pup weight: </label><br>
  	<input type='number' name='weight' id='weight' value='{{pup.weight}}'/>  					
  </div>

  <div class="form-group">
    <label for='file'>Picture</label><br>
    <input type='file' name='file' id='file'/>            
  </div>

  <hr>
  <p>{{pup.name}} is being housed at {{ current_shelter.name }}.</p>

  
  <div class="form-group">
  	<label for="shelter" >New Shelter Options.</label><br>
    <select name='shelter' id="shelter">
    	<option value="{{current_shelter.id }}" name="shelter" id = "shelter" >Leave at current Shelter</option>
    	{% for id in vac_shelters %}
	    	{% if current_shelter.name !=  vac_shelters[id]%}
		      	<option value="{{id}}" name="shelter" id = "shelter" >{{vac_shelters[id]}}</option>
		    {% endif %}
      	{% endfor %}
    </select>
    <br>
    <p class="help-block">Above are the available shelters to pick from or leave the same.</p>
    <br>
  </div>
    <button type="submit" class="btn btn-default">Edit</button>
  <p class="help-block">Details will be left the same unless changed.</p>
</form>


  {% endblock %}
