{% extends "main.html" %}
{% block title %}Pups Adopt{% endblock %}


<!--Page identifier-->
{%set page = "newparent" %}
 
  {% block content %}
  <div class="jumbotron">
  <h1>Congratulations!!!!</h1>
  <p>You have a brand new best friend for life! You have made a great diffrence on your new pups life. We are very proud of you! You are pawsome!</p>
  <p><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></p>
</div>



  {% endblock %}