{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

{% block content%}

<div class="container">
  <div class="masthead">
      {% block navigation %}
      {% endblock %}
  </div>
<nav>
	<ul class="pager">
	<li class="previous" id = "back"><a href="{{url_for('pupsSearch')}}"><span aria-hidden="true">&larr;</span>Back</a></li>
<hr>
</nav>
 
<h1>Search Results</h1>  
    {% for pup, shel in puppy_list %}
    <div class="thumbnail">
      <div class="caption">
      <img src="{{pup.picture}}" alt="A picture of a pup" style="display: inline;" class="img-thumbnail  ">
       <h3>{{ pup.name }}</h3>
        <p>{{ pup.name }} is a {{pup.gender}} pup that weighs in at {{ pup.weight }}. Thid pup was born on {{pup.dateOfBirth}}. This is ready for a new family. You can go play with this pup at {{ shel.name }}.</p>
        <p><a class="btn btn-primary" href="{{url_for('pupsAdopt', shelter_id=shel.id, pup_id=pup.id, pup_name = pup.name, shel_name = shel.name) }}" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Adopt</a></p>
       {% if user_id == pup.entered_by %}       
       <p><a class="btn btn-primary" href="{{url_for('pupsEdit', pup_id=pup.id, pup_pic=pup_picture) }}" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Edit</a></p>
       <p><a class="btn btn-primary" href="{{url_for('pupsDelete', pup_id=pup.id) }}" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Delete</a></p> 
       {% endif %}
      </div>
    </div>
    {% endfor %}
{% endblock %}
</div>
