{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

{%set page = "home" %}
{%set notice = 'false' %}
{%set error = 'false' %}



<div class="container">
  <div class="masthead">
      {% block navigation %}
      {% endblock %}
  </div>

 
  {% block content %}
  <!-- Jumbotron -->
  <div class="jumbotron jumbo-home">

    <h1>Find a pup or find a shelter for one.</h1>
    <p class="lead">You may be searching for a new friend or maybe you need to find a new home for one. On this site you can adopt a pet or find a new home for one throgh one of the many shelter in our city.</p>
    
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Search for a Missing Pet</h2>
      <p>Your best bud may have ran off, don't worry with a few details you can search for your lost compnanion from one of the city's many shelters.</p>
      <p><a class="btn btn-primary" href="{{url_for('pupsSearch')}}" role="button">Search the Shelters &raquo;</a></p>
    </div>

    <div class="col-lg-6">
     <h2>Rehome</h2>
     <p>Things change and familes get broken up sometimes, if you are looking to rehome a pup you can do so from here.</>
     <p><a class="btn btn-primary" href="{{url_for('pupsRehome')}}" role="button">View details &raquo;</a></p> 
    </div>

  {% endblock %}
</div>
