{% extends "main.html" %}
{% block title %}Pups in the City{% endblock %}
{% block head %}
{% endblock %}

<!--Page identifier-->
{%set page = "rehome" %}

<!--The navigation menu-->
<div class="container">
  <div class="masthead">
      {% block navigation %}
      {% endblock %}
  </div>

 
  {% block content %}
  <br><br>
  <form name='rehome' method='post' action= "{{url_for('pupsRehome')}} " id = "rehome" enctype="multipart/form-data">
  <div class="form-group">
    <label for="cname">Pup Name</label>
    <input type="text" class="form-control" id="cname" name="name" minlength ="2" placeholder="Name">
  </div>

  <div class="form-group">
  	<label for="gender" >Male or Female</label><br>
  	<select name='gender' id="gender" >
      <option value='default' name="default" id="gender">Male or Female</option>
			<option value='male' name="gender" id = "gender" >Male</option>
			<option value='female'name="gender"id = "gender">Female</option>
      <br>
		</select>
    <br>
  </div>
    
  
  <div class="form-group">
  	<label for='dateOfBirth'>Date of Birth</label><br>
  	<input type='date'  name='dateOfBirth' id='dateOfBirth' />  					
    <p class="help-block">An approximate date of birth will work.</p>
  </div>


  <div class="form-group">
  	<label for='weight'>Weight</label><br>
  	<input type='number' name='weight' id='weight'/>  					
  </div>

  <div class="form-group">
    <label for='file'>Picture</label><br>
    <input type='file' name='file' id='file'/>            
  </div>

  <div class="form-group">
    <label for="shelter" >The Shelters below have space available.</label><br>
    <select name='shelter' id="shelter" >
      <option value='default' name="shelter" id="shelter">Select a shelter</option>
      {% for shelter in shelters %}
      <option value="{{shelter}}" name="shelter" id = "shelter" >{{shelters[shelter] }}</option>
      {% endfor %}
      <br>
    </select>
    <br>
  </div>






  <button type="submit" class="btn btn-default" >Submit</button>
</form>

<script>

//On ready usng document validator
$().ready(function(){
  $.validator.addMethod("valueNotEquals", function(value, element, arg){
  return arg != value;
 }, "Value must not equal the default.");



  $("#rehome").validate({
    rules:{
      name: {
        required: true,
        minlength: 3
      },
      weight:{
        required: true,
        min: 1       
      },
      dateOfBirth:{
        required: true
      },
      gender:{ 
        valueNotEquals: "default" 
      },
      shelter:{
        valueNotEquals: "default" 
      }



    },
    messages:{
      name:{
        required: "<p class='alert alert-danger' role='alert'>Please enter a name for this pup!</p>",
        minlength: "<p class='alert alert-danger' role='alert'>It must be at least 3 characters long.<p>"
      },
      weight:{
        required: "<p class='alert alert-danger' role='alert'>Please enter the pups weight.<p>",
        min: "<p class='alert alert-danger' role='alert'>Amount must be greater than 0.<p>"
      },
      dateOfBirth: "<p class='alert alert-danger' role='alert'>Please enter a date of birth.</p>",
      gender: "<p class='alert alert-danger' role='alert'>Please select Male or Female!<p>",
      shelter: "<p class='alert alert-danger' role='alert'>Please pick from the available shelters.<p>" 
    }
  });
});

</script>

  {% endblock %}